/* Fonts were imported from google fonts, with font weights of 300, 400, 500, 600 and 700  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*================= ROOT VARIABLES =======================*/
:root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    
    --card-border-radius-: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 2.3rem var(--color-light);
}

/* ---------------- Dark Theme Variables --------------- */
.dark-theme-variables {
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 2.3rem var(--color-light);
}

/*=============== LAYOUT ==================*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.5rem;
    grid-template-columns: 13rem auto 21rem; 
/*   Divided the container into a grid with 3 columns - the left dashboard, the main dashboard & the right side */
}

/*================= UTILITIES =====================*/

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

/* adding these classes to a div/icon would give them the ascertained color scheme   */
.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}






/*---------------- MAIN DASHBOARD  -----------------------*/
main {
    margin-top: 1.4rem;
}

/* COURSE INSIGHTS  */
main .course-insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .course-insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius-);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .course-insights > div:hover{
    box-shadow: none;
  transform: scale(1.1);
}

main .course-insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .course-insights > div.backend span {
    background: var(--color-danger);
}

main .course-insights > div.cloud span {
    background: var(--color-success);
}

main .course-insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .course-insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .cours-insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .course-insights svg {
  width: 7rem;
  height: 7rem;
}

main .course-insights svg circle {
    fill:none;
    stroke: var(--color-primary);
    stroke-width: 14px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
  stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .course-insights .frontend svg circle {
   stroke-dasharray: 120;
    stroke-dashoffset: -60;
}

main .course-insights .backend svg circle {
/*     stroke-dasharray: 110;
    stroke-dashoffset: 92; */
   stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .course-insights .cloud svg circle {
/*     stroke-dasharray: 170;
    stroke-dashoffset: -250; */
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}

main .course-insights .progress .number {
   display: flex; 
    justify-content: center;
    align-items: center;  
  position: relative;  
/*     z-index: 1; */
    top: -65px;
    left: -5px;
    height:100%;
    width: 100%;
   
}

/* Instructors  */

main .instructors {
    margin-top: 4rem;
}

main .instructors h2 {
  margin-bottom: 0.8rem;
}

main .instructors table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius-);
    padding:var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .instructors table:hover {
    box-shadow: none;
  transform: scale(1.1);
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light); 
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .instructors a {
    text-align: center;
    display: block;
    margin: 3rem auto;
    color: var(--color-primary);
}

main .instructors .legend {
  margin: 4rem 0;
}

main .instructors .legend table {
  border: 2px dashed var(--color-primary);
}



/*-------------------------------- LEFT SIDEBAR -----------------------------*/
aside {
  height: 100vh;
  width: 11rem;
}

aside .close {
  display: none;
}

aside .aside-top {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.schoolstat-span {
  color: var(--color-danger);
}

aside .logo img {
  width: 2.5rem;
  height: 2.5rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 8px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/*-------------------------------- END OF SIDEBAR ----------------------------*/





/* /*---------------- RIGHT SIDE  -----------------------*/

